.card-style{
    padding:20px;
    padding-top: 0px;
    margin:10px;
    border-radius: 10px;
    display: grid;
    grid-template-areas:
        ". b"
        "a b"
        ". b";

}

.img-card {
    width: 400px;
    grid-area: a;
}

.info-card {
    display: inline-block;
    width: 500px;
    margin: 15px 15px 0px 15px;
    grid-area: b;

    h2{
        font-size:1.5rem;
    }
}

@media (max-width: 1024px){
    .img-card{
        width: 300px;
    }
    .info-card{
        width: 400px;
    }
}

@media (max-width: 768px){

    .card-style{
        grid-template-areas:
        ". a ."
        "b b b";
    }

    .img-card{
        margin-top: 15px;
        width: 400px;
    }

    .info-card{
        width: 400px;
    }
}

@media (max-width: 480px){
    .img-card{
        width: 280px;
    }
    .info-card{
        width: 280px;
    }
}