.contenedor-carousel {
    position: relative;
    text-align: center;
    
    .carousel-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: 900;
        font-size: 60px;
        width: 100%;
        text-shadow: 0px 0px 10px black;;
    }
    .carousel-inner{
        height: 315px;
        width: 100%;

        .img-carrousel{
            filter: blur(2.5px);
            overflow-y: hidden;
        }
    }
}